<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      h4 {
        padding: 1rem;
      }
    </style>
    <title>Appointement Booked</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">Home</a>
        <h2><a href="/">Appointment Booking App</a></h2>
        <a href="/my-appointments">My Appointments</a>
      </div>
    </header>
    <div class="appointments-container">
      <h3>My Appointements:</h3>
      <ul>
        <li></li>
      </ul>
    </div>
  </body>
</html>
