<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Appointement Booking App</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">Home</a>
        <h2><a href="/">Appointment Booking App</a></h2>
        <a href="/my-appointments">My Appointments</a>
      </div>
    </header>
    <form id="form" method="post" action="/success">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your name"
        required
      />

      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
        required
      />

      <label for="datetime">Date and Time:</label>
      <input type="datetime-local" name="datetime" id="datetime" required />

      <label for="message">Message:</label>
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        placeholder="Enter your message"
      ></textarea>

      <button type="submit" onclick="handleSubmit">Submit</button>
    </form>
    <footer>
      <p>
        &copy;<a
          href="https://github.com/sac6inarya/AppointmentBookingApp-FullStack"
          >Sachin Arya</a
        >
      </p>
    </footer>
  </body>
</html>
